    {{!-- The following component displays Ember's default welcome message. --}}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

    </head>
    <div class='intro'>
    <div class="nav-bar">
    <span><a href="#"> HOME </a></span>
            <span> <a href="#"> IMAGES </a></span>
            
    </div>
        <h1>
        ABOUT MYSELF
        </h1>

        

        <div class="flex"><p>


            HELLO EVERYONE, my name is Kanishk Rohila and I am currently a 1st year UG student at IIIT-A. I think that I am a problem solver and everything that has a good logic in it,interests me. I am from Pune and i have completed my 12th from KENDRIYA VIDYALAYA,Pune.
            <br><br>
             My hobbies are



        <ul>
            <li> MARTIAL ARTS </li>
            <li> PLAYING FOOTBALL AND TABLE TENNIS </li>
            <li> DANCE </li>
            <li> PC GAMING </li>
        </ul>

        </p>
        <div class="img-tot">
            its me<br>
            <i class="fa fa-hand-o-down custom"></i>
        {{!-- <div class="polaroid">
            <p>Kanishk, FEB 14</p>
        
            <img src="ok.jpeg" width="300">
        </div> --}}
        <div class="my-pic">
            <img src="ok.jpeg" width="300">
            <span>Kanishk, FEB 14</span>
        </div>
        </div>
        </div>
        
        <div class="flex">
        <div class="my-pic" id="okok">
            
        <img src="ok1.jpeg" width="500">
        <span>FUN AT SANGAM,DEC 2</span>
        </div>
                <div class="my-pic" id="okok">
           
        <img src="ok2.jpg" width="500">
         <span>Memorable moments of school</span>
        </div>
         <div class="my-pic" id="okok">
           
        <img src="ok3.jpeg" width="500">
         <span>GENETICX DANCE CREW </span>
        </div>
        </div>
         
         
              
        
    
        

        <div class="flex-2">
        <p>Well, before coming here ,I had quite a lot of expectations from college life (but u all know the reality,LOL!)
            <img>

        </p>
        <p>I was the so-called TOPPER of my class till 12th.... but..
        </p>
        <img>
        <p>


            So the first semester in this college didn't go quite well acdemically... BUT except that...since I was experiencing hostel life for the first time.. everything was a lot fun here (especially the birthday celebrations,LOL!)..
        MEETING all the intellects from different parts of the country was quite good experience.
        </p>

        <p> Coming to the future plans.. I too wanna build a startup like everyone else :p ... BUT I think I am more dedicated towards the startup than a job.. MARK ZUCKERBURG has always been my inspiration. YOU CAN FING ME AT FOLLOWING PLACES ON SOCIAL MEDIA
        <br>
        <br>
        <a href="#" class="fa fa-google"></a>
        
        
       
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        
         <br>
         <br>
        AND MAIL ME AT
        <br>
        rohilakanishk93@gmail.com
        </p>
        </div>
       
        
    </div>
    

    {{!-- Feel free to remove this! --}}

    {{outlet}}